{% extends 'base.html' %} {% block content %}

<div x-data="{ showPassword: false }" class="flex items-center justify-center min-h-screen">
	<div class="bg-gradient-to-r from-white via-zink-500 to-gray-400 p-8 rounded-lg max-w-md ">
		<h2 class="text-4xl font-semibold mb-4">Login</h2>
		<h2 class="text-md font-semibold mb-8">Enter Your Username & Password To Log In To Your Account</h2>
		<form method="POST">
			{% csrf_token %}
			<div class="mb-8">
				<label for="username" class="block text-sm font-medium">Username</label>
				<input type="text" id="username" name="username" class="w-full border-2 border-black bg-transparent text-white rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-white" placeholder="Enter your username" required />
			</div>
			<div class="mb-8">
				<label for="password" class="block text-sm font-medium mb-2">Password</label>
				<div class="relative">
					<input
						:type="showPassword ? 'text' : 'password'"
						id="password"
						name="password"
						class="w-full border-2 border-black bg-transparent text-white rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-white"
						placeholder="Enter your password"
						required
					/>
					<button type="button" @click="showPassword = !showPassword" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white">
						<svg x-show="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223c-1.96 2.86-1.96 6.694 0 9.554m16.04-9.554c1.96 2.86 1.96 6.694 0 9.554M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
						</svg>
						<svg x-show="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M13.875 18.825a10.05 10.05 0 01-3.75.675c-4.418 0-8.21-3.134-9.652-7.5A10.033 10.033 0 016.477 5.2m15.05 9.4c-1.442 4.366-5.234 7.5-9.652 7.5-1.288 0-2.523-.229-3.75-.675m9.865-3.712c-.893.373-1.876.662-2.914.826M9.25 9.25m5.5 5.5"
							/>
						</svg>
					</button>
				</div>
			</div>
			<button type="submit" class="w-full bg-white border-2 border-black py-2 rounded-lg text-black hover:scale-90 hover:text-scale-105 transition mb-4">Login</button>
		</form>
		<div class="text-white text-center text-underline">Don't Have An Account? <a href="#" class="text-underline-white">Register</a></div>
	</div>
</div>

{% endblock content %}
