<!--- Card --->
<div class="c-tracing-cards-container" style="display: flex; justify-content: space-between; gap: 20px; flex-wrap: wrap">
	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 30%;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 20px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ad exercitationem voluptatem ullam et, natus impedit quae veniam optio a doloremque officiis beatae, itaque nesciunt nostrum quasi molestiae laudantium dolor asperiores soluta
			sint sed ratione cupiditate. Laudantium earum reiciendis enim.
		</p>
	</div>

	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 30%;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 20px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ad exercitationem voluptatem ullam et, natus impedit quae veniam optio a doloremque officiis beatae, itaque nesciunt nostrum quasi molestiae laudantium dolor asperiores soluta
			sint sed ratione cupiditate. Laudantium earum reiciendis enim.
		</p>
	</div>

	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 30%;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 20px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ad exercitationem voluptatem ullam et, natus impedit quae veniam optio a doloremque officiis beatae, itaque nesciunt nostrum quasi molestiae laudantium dolor asperiores soluta
			sint sed ratione cupiditate. Laudantium earum reiciendis enim.
		</p>
	</div>
</div>
