{% extends 'base.html' %} {% block content %}

<div class="card-container">
	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 20rem;
			height: 28rem;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 20px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 20rem;
			height: 28rem;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 2px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 20rem;
			height: 28rem;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 20px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
	<div
		class="c-tracing-card"
		style="
			background-image: url('https://images.unsplash.com/photo-1704340142770-b52988e5b6eb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fHww');
			width: 20rem;
			height: 28rem;
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			padding: 20px;
			color: white;
		"
	>
		<h1>Animate Borders</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>

	<!-- Repeat similar blocks for all your cards -->
</div>

<style>
	.card-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		padding: 20px;
	}
	.c-tracing-card {
		/* Custom styling for the cards */
	}
</style>

{% endblock content %}
